### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
.kotlin

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# Игнорируем папку с настройками идеи и выходные файлы
.idea/
*.iml

# Игнорируем файл базы данных (так как это бинарный файл, его лучше не пушить)
kbtu_database.dat

.git
.settings
.classpath
.project
